body
  color: $text-color
  font-family: 'Montserrat', Arial, sans-serif
  font-size: 14px
  font-weight: 500
  line-height: 1.57142
  letter-spacing: 0.35px

  @media(min-width: 1900px)
    font-size: 16px
    line-height: 1.625
    letter-spacing: 0.4px

*
  outline: none

a
  color: $text-color

h1,.h1
  font-size: 22px
  font-weight: 700
  line-height: 1.54545
  letter-spacing: 0.55px
  margin-bottom: 20px
  margin-top: 0

  @media(min-width: 1200px)
    margin-bottom: 30px

  @media(min-width: 1900px)
    font-size: 36px
    line-height: 1.22222
    letter-spacing: 0.9px


h2,.h2
  font-size: 18px
  line-height: 1.44444
  margin-top: 0

  @media(min-width: 1900px)
    font-size: 30px

.main-page
  .page-section
    h2,.h2
      font-size: 22px
      font-weight: 700
      line-height: 1.54545
      letter-spacing: 0.55px
      margin-bottom: 20px

      @media(min-width: 1200px)
        margin-bottom: 60px

      @media(min-width: 1900px)
        font-size: 36px
        line-height: 1.22222
        letter-spacing: 0.9px

h4, .h4
  font-size: 14px
  margin-bottom: 15px

  @media(min-width: 1900px)
    font-size: 14px

h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6
  font-weight: 600

h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6,
p,
table,
.table-responsive,
.responsive-table
  margin-top: 0
  margin-bottom: 20px

  &:last-child
    margin-bottom: 0

.table-responsive,
.responsive-table
  min-height: 0.01%
  overflow-x: auto

  table
    min-width: 700px

table
  border-collapse: collapse
  font-size: 12px
  font-weight: 500
  max-width: 100%
  text-align: left
  width: 100%

  @media(min-width: 1200px)
    font-size: 14px

  @media(min-width: 1900px)
    font-size: 16px

  tr
    &:not(:last-child)
      th,
      td
        border: none
        border-bottom: 1px solid $light-grey-color

  th
    font-weight: 700

    @media(min-width: 1900px)
      font-size: 14px

  th,
  td
    border: none
    vertical-align: middle

  td
    padding: 15px 40px 15px 0

    @media(min-width: 1200px)
      padding-top: 30px
      padding-bottom: 30px

  th
    padding: 15px 40px 15px 0

    @media(min-width: 1200px)
      padding-top: 0
      padding-bottom: 30px

  th,
  td
    &:last-child
      padding-right: 0

  &.type_1
    td
      &:first-child
        width: 260px

        @media(min-width: 1200px)
          width: 590px

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4)
        width: 110px

        @media(min-width: 1200px)
          width: 170px

        @media(min-width: 1900px)
          width: 240px

      &:nth-child(5)
        width: 155px

        @media(min-width: 1200px)
          width: 170px

        @media(min-width: 1900px)
          width: 240px

  &.type_2
    td
      &:first-child
        width: 260px

        @media(min-width: 1200px)
          width: 780px

      &:nth-child(2),
      &:nth-child(3)
        width: 110px

        @media(min-width: 1200px)
          width: 360px

  &.type_3
    td
      &:first-child
        width: 48%

      &:nth-child(2),
      &:nth-child(3)
        width: 26%

img
  height: auto
  max-width: 100%
  vertical-align: top

.text-left
  text-align: left

.text-right
  text-align: right

.text-center
  text-align: center

.nowrap
  white-space: nowrap

ul
  &:not([class])
    list-style: none
    padding: 0
    margin-top: 0
    margin-bottom: 20px

    &:last-child
      margin-bottom: 0

ul
  &:not([class])
    li
      padding-left: 20px
      position: relative

      &:not(:last-child)
        margin-bottom: 10px

      &::before
        background-color: $text-color
        content: ''
        height: 5px
        left: 0
        position: absolute
        top: 10px
        width: 5px

        @media(min-width: 1900px)
          height: 7px
          top: 11px
          width: 7px

ol
  &:not([class])
    list-style-position: inside
    padding: 0
    margin-top: 0
    margin-bottom: 20px

    &:last-child
      margin-bottom: 0

    li
      &::marker
        font-weight: 600

      &:not(:last-child)
        margin-bottom: 20px

.no-styled
  list-style: none
  padding: 0
  margin-top: 0
  margin-bottom: 20px

  &:last-child
    margin-bottom: 0

  li
    &:not(:last-child)
      margin-bottom: 10px

.attention
  border-left: 10px solid #f5d07a
  font-weight: 500
  margin-top: 60px
  margin-bottom: 60px
  padding-left: 15px
  padding-top: 10px
  padding-bottom: 10px

  @media(min-width: 1200px)
    padding-left: 25px
    padding-top: 20px
    padding-bottom: 20px

  @media(min-width: 1900px)
    font-size: 14px
    line-height: 1.57142

.small-text
  @media(min-width: 1900px)
    font-size: 14px
    line-height: 1.57142

.download-link
  align-items: center
  display: inline-flex
  text-decoration: none
  vertical-align: top

  &:hover,
  &:focus
    text-decoration: underline

  svg
    fill: $text-color
    height: 20px
    margin-right: 15px
    min-width: 20px
    width: 20px
