* text eol=lf
*.jpg -text
*.png -text
*.gif -text
*.webp -text

*.mov lfs
*.avi lfs
*.asf lfs
*.mpg lfs
*.mpeg lfs
*.mp4 lfs
*.flv lfs
*.ogv lfs
*.wmv lfs
*.webm lfs

*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary
