<div id="booking" class="booking-popup">
  <p class="booking-popup__title">Забронировать путевку</p>
  <form class="booking-popup__form" action="">
    <div class="booking-popup__row">
      <div class="select-wrapper select-wrapper--indents">
        <p class="select-wrapper__title">Путевка</p>
        <select class="js-select">
          <option value="1">Сибирский детокс</option>
          <option value="2">Сибирское дыхание</option>
          <option value="3">Сибирский ЧекАп</option>
        </select>
      </div>
    </div>
    <div class="booking-popup__row">
      <div class="select-wrapper select-wrapper--indents">
        <p class="select-wrapper__title">Вид проживания</p>
        <select class="js-select">
          <option value="1">Корпус №1, "Стандарт"</option>
          <option value="2">Корпус №1, "Премиум"</option>
          <option value="3">Корпус №2, "Стандарт"</option>
        </select>
      </div>
    </div>
    <div class="booking-popup__row booking-popup__row--flex">
      <div class="booking-popup__block">
        <label class="datepicker-wrapper datepicker-wrapper--indents">
          <span class="datepicker-wrapper__title">Заезд</span>
          <input class="js-datepicker datepicker-here datepicker-wrapper__input" type="text" value="01.10.2021" data-position="top left">
        </label>
      </div>
      <div class="booking-popup__block">
        <label class="datepicker-wrapper datepicker-wrapper--indents">
          <span class="datepicker-wrapper__title">Выезд</span>
          <input class="js-datepicker datepicker-here datepicker-wrapper__input" type="text" value="10.10.2021" data-position="top left">
        </label>
      </div>
    </div>
    <div class="booking-popup__row">
      <div class="select-wrapper select-wrapper--indents">
        <p class="select-wrapper__title">Количество гостей</p>
        <select class="js-select">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </div>
    <button class="booking-popup__button button button--type_2" type="button">Найти номер</button>
  </form>
</div>
