<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__block">
        <div class="footer__logo"><img src="images/logo.svg" alt="Санаторий Сибирь"></div>
        <div class="footer__contacts">
          <a href="tel:+73452687000">+7 (3452) 687-000</a><br>
          <a href="mailto:sibir-market@mail.ru">sibir-market@mail.ru</a><br>
          <a href="mailto:687001@mail.ru">687001@mail.ru</a>
        </div>
        <div class="social-block">
          <p class="social-block__title">Мы в месенджерах</p>
          <div class="social-block__list">
            <a class="social-block__link" href="#" target="_blank" rel="nofollow noreferrer" title="Telegram">
              <svg class="social-block__link-icon"><use xlink:href="#tg"></use></svg>
            </a>
            <a class="social-block__link" href="#" target="_blank" rel="nofollow noreferrer" title="Viber">
              <svg class="social-block__link-icon"><use xlink:href="#vb"></use></svg>
            </a>
            <a class="social-block__link" href="#" target="_blank" rel="nofollow noreferrer" title="WhatsApp">
              <svg class="social-block__link-icon"><use xlink:href="#wa"></use></svg>
            </a>
          </div>
        </div>
        <div class="social-block">
          <p class="social-block__title">Мы в соцсетях</p>
          <div class="social-block__list">
            <a class="social-block__link" href="#" target="_blank" rel="nofollow noreferrer" title="Facebook">
              <svg class="social-block__link-icon"><use xlink:href="#fb"></use></svg>
            </a>
            <a class="social-block__link" href="#" target="_blank" rel="nofollow noreferrer" title="Instagram">
              <svg class="social-block__link-icon"><use xlink:href="#inst"></use></svg>
            </a>
            <a class="social-block__link" href="#" target="_blank" rel="nofollow noreferrer" title="YouTube">
              <svg class="social-block__link-icon"><use xlink:href="#yt"></use></svg>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__block">
        <h3 class="footer__block-title">Для посетителей</h3>
        <ul class="footer-menu">
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Спецпредложения</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Для прессы</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Конференс зал</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Вопросы - ответы</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Обратная связь</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Веб - камеры</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Виртуальная экскурсия</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Сертификаты и лицензии</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="reqs.html">Реквизиты</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Важная информация</a></li>
        </ul>
      </div>
      <div class="footer__block">
        <h3 class="footer__block-title">Услуги санатория</h3>
        <ul class="footer-menu">
          <li class="footer-menu__item"><a class="footer-menu__link" href="programs.html">Мед программы</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="numbers.html">Проживание</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Отдых</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="prices.html">Стоимость</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="spa.html">SPA - центр</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Афиша</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Салон красоты</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="bars.html">Бары и рестораны</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Детям</a></li>
        </ul>
      </div>
      <div class="footer__block">
        <h3 class="footer__block-title">О комплексе</h3>
        <ul class="footer-menu">
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">О нас</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="about.html">О медицинском центре</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="how-get.html">Как добраться</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Отзывы</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="contacts.html">Контакты</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Галерея</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Блог</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Наша команда</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Партнерам</a></li>
          <li class="footer-menu__item"><a class="footer-menu__link" href="#">Карьера</a></li>
        </ul>
      </div>
    </div>
  </div>
  <p class="footer__bottom">© Санаторий "Сибирь" <span class="footer__bottom-separator">|</span> Все права защищены</p>
</footer>
