<header class="header compensate-for-scrollbar">
  <div class="header__inner container">
    <a class="header__logo" href="main.html"><img src="images/logo.svg" alt="Санаторий Сибирь"></a>
    <button class="js-menu-opener header__menu-opener menu-opener" type="button" title="Меню">
      <svg class="menu-opener__icon"><use xlink:href="#burger"></use></svg>
      <span class="menu-opener__text">Меню</span>
    </button>
    <div class="header__dropdown main-menu">
      <div class="main-menu__inner">
        <div class="main-menu__top">
          <p class="main-menu__location">
            <svg class="main-menu__location-icon"><use xlink:href="#pin"></use></svg>
            <span class="main-menu__location-text">Тюмень</span>
          </p>
          <div class="main-menu__lang">
            <div class="lang">
              <button class="js-lang lang__button" type="button">RU <svg class="lang__button-icon"><use xlink:href="#arrow_down"></use></svg></button>
              <div class="lang__dropdown">
                <ul class="lang__list">
                  <li class="lang__list-item"><a class="lang__list-link" href="#">ENG</a></li>
                  <li class="lang__list-item"><a class="lang__list-link" href="#">FR</a></li>
                </ul>
              </div>
            </div>
          </div>
          <a class="main-menu__phone" href="tel:+73452687000">+7 (3452) 687-000</a>
          <button class="main-menu__recall" type="button">Перезвонить?</button>
          <button class="js-menu-closer main-menu__closer" type="button" title="Закрыть меню"><svg class="main-menu__closer-icon"><use xlink:href="#close"></use></svg></button>
        </div>
        <nav class="main-menu__nav" role="navigation" aria-label="Основное меню">
          <ul class="main-menu__list">
            <li class="main-menu__list-item main-menu__list-item--indent main-menu__list-item--root" aria-haspopup="true">
              <a class="main-menu__list-link" href="#">Важная информация</a>
              <button class="js-menu-lvl2 main-menu__button" type="button" title="Открыть меню второго уровня"><svg class="main-menu__button-icon"><use xlink:href="#arrow_right"></use></svg></button>
              <div class="main-menu__dropdown" aria-label="submenu">
                <button class="js-menu-lvl2-close main-menu__dropdown-closer" type="button"><svg class="main-menu__dropdown-closer-icon"><use xlink:href="#arrow_left"></use></svg> Важная информация</button>
                <ul class="main-menu__list2">
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="reg-card.html">Регистрационная карта и договор оферты</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="gosgarantii.html">Госгарантии</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="terms.html">Персональные данные</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="terms_2.html">Пользовательское соглашение</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="rules.html">Правила пребывания в санатории</a></li>
                </ul>
              </div>
            </li>
            <li class="main-menu__list-item"><a class="main-menu__list-link" href="numbers.html">Проживание</a></li>
            <li class="main-menu__list-item main-menu__list-item--root" aria-haspopup="true">
              <a class="main-menu__list-link" href="otdih.html">Отдых</a>
              <button class="js-menu-lvl2 main-menu__button" type="button" title="Открыть меню второго уровня"><svg class="main-menu__button-icon"><use xlink:href="#arrow_right"></use></svg></button>
              <div class="main-menu__dropdown" aria-label="submenu">
                <button class="js-menu-lvl2-close main-menu__dropdown-closer" type="button"><svg class="main-menu__dropdown-closer-icon"><use xlink:href="#arrow_left"></use></svg> Отдых</button>
                <ul class="main-menu__list2">
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="#">Афиша</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="spa.html">SPA - центр</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="gym.html">Тренажёрный зал</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="#">Спортивный зал</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="#">Прогулки на лошадях</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="#">Теннисный корт</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="#">Пляж</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="#">Рыбалка</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="#">Экскурсии</a></li>
                </ul>
              </div>
            </li>
            <li class="main-menu__list-item main-menu__list-item--root" aria-haspopup="true">
              <a class="main-menu__list-link" href="about.html">Мед центр</a>
              <button class="js-menu-lvl2 main-menu__button" type="button" title="Открыть меню второго уровня"><svg class="main-menu__button-icon"><use xlink:href="#arrow_right"></use></svg></button>
              <div class="main-menu__dropdown" aria-label="submenu">
                <button class="js-menu-lvl2-close main-menu__dropdown-closer" type="button"><svg class="main-menu__dropdown-closer-icon"><use xlink:href="#arrow_left"></use></svg> Мед центр</button>
                <ul class="main-menu__list2">
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="programs.html">Мед программы</a></li>
                </ul>
              </div>
            </li>
            <li class="main-menu__list-item main-menu__list-item--indent"><a class="main-menu__list-link" href="prices.html">Цены</a></li>
            <li class="main-menu__list-item"><a class="main-menu__list-link" href="actions.html">Акции</a></li>
            <li class="main-menu__list-item"><a class="main-menu__list-link" href="bars.html">Бары и рестораны</a></li>
            <li class="main-menu__list-item"><a class="main-menu__list-link" href="infrastructure.html">Инфраструктура</a></li>
            <li class="main-menu__list-item"><a class="main-menu__list-link" href="conference.html">Конференц-услуги</a></li>
            <li class="main-menu__list-item"><a class="main-menu__list-link" href="how-get.html">Как добраться</a></li>
            <li class="main-menu__list-item main-menu__list-item--indent"><a class="main-menu__list-link" href="contacts.html">Контакты</a></li>
            <li class="main-menu__list-item main-menu__list-item--root" aria-haspopup="true">
              <a class="main-menu__list-link" href="o-sanatorii.html">О санатории</a>
              <button class="js-menu-lvl2 main-menu__button" type="button" title="Открыть меню второго уровня"><svg class="main-menu__button-icon"><use xlink:href="#arrow_right"></use></svg></button>
              <div class="main-menu__dropdown" aria-label="submenu">
                <button class="js-menu-lvl2-close main-menu__dropdown-closer" type="button"><svg class="main-menu__dropdown-closer-icon"><use xlink:href="#arrow_left"></use></svg> О комплексе</button>
                <ul class="main-menu__list2">
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="istoriya-sanatoriya.html">История санатория</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="sights.html">Достопримечательности</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="license.html">Лицензии</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="#">Виртуальная экскурсия</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="vacancies.html">Вакансии</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="reqs.html">Реквизиты</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="#">Фотогалерея</a></li>
                </ul>
              </div>
            </li>
            <li class="main-menu__list-item"><a class="main-menu__list-link" href="#">Партнерам</a></li>
            <li class="main-menu__list-item main-menu__list-item--root" aria-haspopup="true">
              <a class="main-menu__list-link" href="#">Посетителям</a>
              <button class="js-menu-lvl2 main-menu__button" type="button" title="Открыть меню второго уровня"><svg class="main-menu__button-icon"><use xlink:href="#arrow_right"></use></svg></button>
              <div class="main-menu__dropdown" aria-label="submenu">
                <button class="js-menu-lvl2-close main-menu__dropdown-closer" type="button"><svg class="main-menu__dropdown-closer-icon"><use xlink:href="#arrow_left"></use></svg> Посетителям</button>
                <ul class="main-menu__list2">
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="online.html">Онлайн-камера</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="#">Отзывы отдыхающих</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="books.html">Полезные книги</a></li>
                  <li class="main-menu__list2-item"><a class="main-menu__list2-link" href="#">Частые вопросы</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
        <div class="main-menu__bottom">
          <div class="social-block">
            <p class="social-block__title">Мы в месенджерах</p>
            <div class="social-block__list">
              <a class="social-block__link" href="#" target="_blank" rel="nofollow noreferrer" title="Telegram">
                <img width="30" height="30" src="images/icons/socials/telegram.svg" alt="Telegram">
              </a>
              <a class="social-block__link" href="#" target="_blank" rel="nofollow noreferrer" title="Viber">
                <img width="30" height="30" src="images/icons/socials/viber.svg" alt="Viber">
              </a>
              <a class="social-block__link" href="#" target="_blank" rel="nofollow noreferrer" title="WhatsApp">
                <img width="30" height="30" src="images/icons/socials/whatsapp.svg" alt="WhatsApp">
              </a>
            </div>
          </div>
          <div class="social-block">
            <p class="social-block__title">Мы в соцсетях</p>
            <div class="social-block__list">
              <a class="social-block__link" href="#" target="_blank" rel="nofollow noreferrer" title="Facebook">
                <img width="30" height="30" src="images/icons/socials/facebook.svg" alt="Facebook">
              </a>
              <a class="social-block__link" href="#" target="_blank" rel="nofollow noreferrer" title="Instagram">
                <img width="30" height="30" src="images/icons/socials/instagram.svg" alt="Instagram">
              </a>
              <a class="social-block__link" href="#" target="_blank" rel="nofollow noreferrer" title="YouTube">
                <img width="30" height="30" src="images/icons/socials/youtube.svg" alt="YouTube">
              </a>
            </div>
          </div>
          <button class="button" type="button" data-fancybox="booking_mobile" data-src="#booking">Забронировать</button>
        </div>
      </div>
    </div>
    <div class="header__menu">
      <ul class="header-menu">
        <li class="header-menu__item"><a class="header-menu__link" href="programs.html">Программы</a></li>
        <li class="header-menu__item"><a class="header-menu__link" href="numbers.html">Проживание</a></li>
        <li class="header-menu__item"><a class="header-menu__link" href="infrastructure.html">Инфраструктура</a></li>
        <li class="header-menu__item"><a class="header-menu__link" href="prices.html">Цены</a></li>
        <li class="header-menu__item"><a class="header-menu__link" href="actions.html">Акции</a></li>
      </ul>
    </div>
    <div class="header__social social-block">
      <div class="social-block__list">
        <a class="social-block__link" href="#" target="_blank" rel="nofollow noreferrer" title="Telegram">
          <img width="30" height="30" src="images/icons/socials/telegram.svg" alt="Telegram">
        </a>
        <a class="social-block__link" href="#" target="_blank" rel="nofollow noreferrer" title="Viber">
          <img width="30" height="30" src="images/icons/socials/viber.svg" alt="Viber">
        </a>
        <a class="social-block__link" href="#" target="_blank" rel="nofollow noreferrer" title="WhatsApp">
          <img width="30" height="30" src="images/icons/socials/whatsapp.svg" alt="WhatsApp">
        </a>
      </div>
    </div>
    <button class="header__button button" type="button" data-fancybox="booking" data-src="#booking">Забронировать</button>
  </div>
</header>
