<div id="menu-popup" class="menu-popup">
  <div class="menu-popup__top">
    <div class="menu-popup__image-block">
      <p class="menu-popup__title menu-popup__title--mobile">Омлет с авокадо, грибами и рыбой</p>
      <div class="menu-popup__image">
        <picture>
          <source srcset="images/content/menu/bludo_1.jpg, images/content/menu/bludo_1@2x.jpg 2x" media="(min-width: 768px)">
          <img src="images/content/menu/mobile/bludo_1.jpg" srcset="images/content/menu/mobile/bludo_1@2x.jpg 2x" alt="alt" loading="lazy">
        </picture>
        <p class="menu-popup__calories">350 кКал</p>
      </div>
    </div>
    <div class="menu-popup__info">
      <p class="menu-popup__title">Омлет с авокадо, грибами и рыбой</p>
      <p class="h4"><b>ИНГРИДИЕНТЫ</b></p>
      <ul class="no-styled">
        <li>- 1 шт яйцо С0</li>
        <li>- 30 мл молоко</li>
        <li>- зелень укропа</li>
        <li>- 1/2 шт авокадо</li>
        <li>- 20 г сыр твёрдый</li>
        <li>- 20 г грибы шампиньоны</li>
        <li>- оливковое масло</li>
        <li>- соль, специи</li>
      </ul>
    </div>
  </div>
  <ol>
    <li>На сухой антипригарной сковороде потушить грибы, после чего посолить и добавить специи.</li>
    <li>В отдельной миске взбить яйцо с молоком, посолить.</li>
    <li>Разогреть сковороду, налить немного оливкового масла, вылить яичную смесь, накрыть крышкой и жарить на небольшом огне до схватывания яйца. После чего сверху посыпать мелко порезанную зелень, выложить нарезанный слайсами авокадо и обжаренные грибы, накрыть крышкой и жарить 5 минут.</li>
    <li>В конце сверху посыпать натёртый сыром. Накрыть крышкой и подождать, чтобы сыр расплавился.</li>
    <li>Готовый омлет свернуть пополам и переложить на тарелку.</li>
  </ol>
</div>
