<div id="number-popup" class="number-popup">
  <div class="number-popup__container">
    <div class="number-popup__image-block">
      <p class="number-popup__title number-popup__title--mobile">Номер "Стандарт 1 местный" (Корпус&nbsp;№2)</p>
      <div class="js-number-slider number-slider">
        <div class="number-slider__slide">
          <picture>
            <source srcset="images/content/numbers/n_1.jpg, images/content/numbers/n_1@2x.jpg 2x" media="(min-width: 768px)">
            <img src="images/content/numbers/mobile/n_1.jpg" srcset="images/content/numbers/mobile/n_1@2x.jpg 2x" alt="alt" loading="lazy">
          </picture>
        </div>
        <div class="number-slider__slide">
          <picture>
            <source srcset="images/content/numbers/n_2.jpg, images/content/numbers/n_2@2x.jpg 2x" media="(min-width: 768px)">
            <img src="images/content/numbers/mobile/n_2.jpg" srcset="images/content/numbers/mobile/n_2@2x.jpg 2x" alt="alt" loading="lazy">
          </picture>
        </div>
        <div class="number-slider__slide">
          <picture>
            <source srcset="images/content/numbers/n_3.jpg, images/content/numbers/n_3@2x.jpg 2x" media="(min-width: 768px)">
            <img src="images/content/numbers/mobile/n_3.jpg" srcset="images/content/numbers/mobile/n_3@2x.jpg 2x" alt="alt" loading="lazy">
          </picture>
        </div>
        <div class="number-slider__slide">
          <picture>
            <source srcset="images/content/numbers/n_4.jpg, images/content/numbers/n_4@2x.jpg 2x" media="(min-width: 768px)">
            <img src="images/content/numbers/mobile/n_4.jpg" srcset="images/content/numbers/mobile/n_4@2x.jpg 2x" alt="alt" loading="lazy">
          </picture>
        </div>
        <div class="number-slider__slide">
          <picture>
            <source srcset="images/content/numbers/n_5.jpg, images/content/numbers/n_5@2x.jpg 2x" media="(min-width: 768px)">
            <img src="images/content/numbers/mobile/n_5.jpg" srcset="images/content/numbers/mobile/n_5@2x.jpg 2x" alt="alt" loading="lazy">
          </picture>
        </div>
      </div>
    </div>
    <div class="number-popup__info">
      <div class="number-popup__bottom">
        <p class="number-popup__price-block">
          <span class="number-popup__old-price">от 5600 ₽</span>
          <span class="number-popup__price"><svg class="number__price-icon"><use xlink:href="#fire"></use></svg> от 3 900 ₽</span>
        </p>
        <button class="button" type="button" data-fancybox="booking_3" data-src="#booking">ЗАБРОНИРОВАТЬ</button>
      </div>
      <div class="number-popup__top">
        <p class="number-popup__title">Номер "Стандарт 1 местный" (Корпус&nbsp;№2)</p>
        <div class="number-popup__props">
          <p class="number-popup__prop"><span class="number-popup__prop-title">рейтинг номера</span> 8 / 10</p>
          <p class="number-popup__prop"><span class="number-popup__prop-title">площадь номера</span> 40 м²</p>
        </div>
        <p class="number-popup__prop"><span class="number-popup__prop-title">Медицинская программа, которая включена (бесплатно)</span> Санитарно-курортное лечение</p>
        <p class="number-popup__prop"><span class="number-popup__prop-title">питание</span> 3-х разовое питание</p>
        <p class="number-popup__prop"><span class="number-popup__prop-title">проживание</span> 2 взрослых — без детей, максимум 1 взрослый + максимум 1 ребенок</p>
        <p class="number-popup__note">*Также можно разместить 2-х детей до 3-х лет включительно (без предоставления основного места)</p>
      </div>
    </div>
  </div>
  <ul class="number-features">
    <li class="number-features__item">
      <svg class="number-features__item-icon"><use xlink:href="#tv"></use></svg>
      плазменный телевизор
    </li>
    <li class="number-features__item">
      <svg class="number-features__item-icon"><use xlink:href="#conditioner"></use></svg>
      кондиционер
    </li>
    <li class="number-features__item">
      <svg class="number-features__item-icon"><use xlink:href="#fridge"></use></svg>
      холодильник
    </li>
    <li class="number-features__item">
      <svg class="number-features__item-icon"><use xlink:href="#phone"></use></svg>
      телефон
    </li>
    <li class="number-features__item">
      <svg class="number-features__item-icon"><use xlink:href="#tea"></use></svg>
      чайный набор
    </li>
    <li class="number-features__item">
      <svg class="number-features__item-icon"><use xlink:href="#safe"></use></svg>
      сейф
    </li>
    <li class="number-features__item">
      <svg class="number-features__item-icon"><use xlink:href="#shower"></use></svg>
      душевая кабина
    </li>
    <li class="number-features__item">
      <svg class="number-features__item-icon"><use xlink:href="#bathrobe"></use></svg>
      халат
    </li>
    <li class="number-features__item">
      <svg class="number-features__item-icon"><use xlink:href="#slippers"></use></svg>
      тапочки
    </li>
    <li class="number-features__item">
      <svg class="number-features__item-icon"><use xlink:href="#cosmetics"></use></svg>
      принадлежности
    </li>
  </ul>
</div>
