.day-order
  margin-bottom: 60px

  @media(min-width: 1900px)
    margin-bottom: 120px

  h2
    text-transform: uppercase

  &__text
    margin-left: auto
    margin-right: auto
    margin-bottom: 25px
    max-width: 1070px
    text-align: center

    @media(min-width: 1200px)
      margin-bottom: 60px

.timing
  
