.doctors-list
  list-style: none
  margin-bottom: -25px
  padding: 0

  @media(min-width: 768px)
    display: flex
    flex-wrap: wrap
    margin-left: -15px
    margin-right: -15px

  &__item
    margin-bottom: 25px
    
    @media(min-width: 768px)
      padding-left: 15px
      padding-right: 15px
      width: 33.33333%
