.numbers-form
  display: flex
  flex-wrap: wrap
  margin-left: -10px
  margin-right: -10px
  margin-bottom: 35px

  @media(min-width: 1900px)
    margin-bottom: 45px

  &__item
    margin-bottom: 15px
    padding-left: 10px
    padding-right: 10px
    width: 50%

    @media(min-width: 1024px)
      width: auto

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(5)
      width: 100%

    &:nth-child(1)
      flex-grow: 1

      @media(min-width: 1024px)
        width: auto

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4)
      @media(min-width: 1024px)
        width: 220px

      @media(min-width: 1900px)
        min-width: 220px

    &:nth-child(5)
      @media(min-width: 1200px)
        width: 220px

      @media(min-width: 1600px)
        min-width: 360px

  &__button
    width: 100%

    @media(min-width: 768px)
      height: 77px

.filter
  margin-bottom: 10px

  &__opener
    margin-bottom: 15px
    width: 100%

    @media(min-width: 1024px)
      display: none

  &__popup
    background-color: #fff
    bottom: 0
    display: none
    left: 0
    overflow-y: auto
    position: fixed
    right: 0
    top: 0
    z-index: 100

    &.is-open
      display: block

    @media(min-width: 1024px)
      bottom: auto
      display: block
      left: auto
      margin-bottom: 25px
      overflow: visible
      position: static
      right: auto
      top: auto
      z-index: 1

  &__popup-inner
    overflow-y: auto
    padding: 30px 20px
    position: relative

    @media(min-width: 1024px)
      display: flex
      overflow: visible
      padding: 0

  &__close
    align-items: center
    background-color: transparent
    border: none
    cursor: pointer
    display: flex
    height: 40px
    justify-content: center
    left: auto
    padding: 0
    position: absolute
    right: 15px
    top: 23px
    width: 40px
    z-index: 1

    @media(min-width: 1024px)
      display: none

    svg
      fill: #777a81
      height: 18px
      width: 18px

  &__title
    font-size: 16px
    font-weight: 600
    margin-bottom: 45px
    text-transform: uppercase

    @media(min-width: 1024px)
      display: none

  &__item
    position: relative

    @media(min-width: 1024px)
      width: 20%

    &:not(:last-child)
      //margin-bottom: 30px

      @media(min-width: 1024px)
        border-right: 1px solid transparent
        //margin-bottom: 0

    &:last-child
      .filter__item-dropdown
        left: auto
        right: 0

  &__item-opener
    background-color: transparent
    border: none
    cursor: pointer
    padding: 15px 0
    text-align: left
    width: 100%

    @media(min-width: 1024px)
      align-items: center
      background-color: $secondary-color
      display: flex
      height: 75px
      justify-content: center
      text-align: center

    &.is-active
      .filter__item-title
        svg
          transform: rotate(90deg)

          @media(min-width: 1024px)
            transform: rotate(270deg)

  &__item-title
    align-items: center
    display: flex
    font-size: 16px
    font-weight: 600
    justify-content: space-between
    margin-bottom: 10px

    @media(min-width: 1024px)
      font-size: 12px
      font-weight: 500
      margin-bottom: 0

    @media(min-width: 1900px)
      font-size: 16px

    svg
      width: 18px
      height: 18px
      fill: $text-color
      margin-top: 3px
      transition: transform 0.3s

      @media(min-width: 1024px)
        height: 16px
        width: 16px
        margin-left: 10px
        margin-top: 2px
        transform: rotate(90deg)

  &__item-option
    color: #52555b
    font-weight: 500

    @media(min-width: 1024px)
      display: none

  &__item-dropdown
    display: none

    @media(min-width: 1024px)
      border: 1px solid $grey-color
      background-color: #fff
      left: 0
      margin-top: 5px
      position: absolute
      padding: 30px
      top: 100%
      width: 306px
      z-index: 9

    &.is-open
      display: block

    .button
      margin-top: 20px
      width: 100%

      @media(min-width: 1024px)
        font-size: 12px
        min-height: 35px
        padding-top: 7px
        padding-bottom: 7px

  &__item-result
    align-items: center
    display: flex
    font-size: 14px
    font-weight: 500
    margin-top: 20px
    margin-bottom: 20px
    text-align: center

  &__item-input
    border: 1px solid $grey-color
    font-size: 14px
    font-weight: 500
    height: 35px
    margin-right: 20px
    text-align: center
    width: 120px

  &__options
    display: flex
    flex-wrap: wrap
    position: relative

    @media(min-width: 1024px)
      padding-right: 200px

  &__option,
  &__reset
    align-items: center
    background-color: transparent
    cursor: pointer
    display: flex
    font-size: 12px
    font-weight: 500
    height: 40px
    margin-right: 10px
    margin-bottom: 10px
    padding: 14px 15px

    @media(min-width: 1900px)
      font-size: 14px
      height: 44px

    svg
      fill: #777a81
      height: 12px
      margin-left: 15px
      width: 12px

  &__reset
    border: none
    display: none
    left: auto
    margin-right: 0
    margin-bottom: 0
    position: absolute
    padding-left: 0
    padding-right: 0
    right: 0
    top: 0
    z-index: 1

    @media(min-width: 1024px)
      display: flex

    &:hover,
    &:focus
      text-decoration: underline

  &__option
    border: 1px solid $grey-color
    transition: background-color 0.3s

    &:hover,
    &:focus
      background-color: $light-grey-color

.sort-view
  align-items: center
  display: flex
  margin-bottom: 20px

  @media(min-width: 1900px)
    margin-bottom: 50px

.sorting
  align-items: center
  display: flex
  flex-wrap: wrap

  &__title
    font-weight: 600
    margin-right: 10px
    margin-bottom: 0

.views
  display: none
  margin-left: auto

  @media(min-width: 768px)
    align-items: center
    display: flex

  &__button
    background-color: transparent
    border: none
    cursor: pointer
    height: 35px
    padding: 0
    width: 35px

    &:not(:last-child)
      margin-right: 15px

    &.is-active
      svg
        fill: $text-color

    svg
      fill: #bcbdc1
      height: 35px
      width: 35px

.numbers-list
  list-style: none
  margin: 0
  padding: 0

  &:last-child
    margin-bottom: -25px

    @media(min-width: 768px)
      margin-bottom: -50px

  @media(min-width: 768px)
    display: flex
    flex-wrap: wrap
    margin-left: -15px
    margin-right: -15px

  &.list
    @media(min-width: 768px)
      display: block
      margin-left: 0
      margin-right: 0

    .numbers-list__item
      @media(min-width: 768px)
        display: block
        padding-left: 0
        padding-right: 0
        width: 100%

      @media(min-width: 1200px)
        width: 100%

    .number
      @media(min-width: 768px)
        flex-direction: row
        max-width: 100%

      & > .number__title
        @media(min-width: 768px)
          flex-grow: 1
          max-width: 640px

        img
          @media(min-width: 768px)
            height: 420px
            object-fit: cover

    .number__title,
    .number__image
      @media(min-width: 768px)
        margin-bottom: 0

      .number__image-caption
        @media(min-width: 768px)
          display: none

    .number__info
      @media(min-width: 768px)
        padding-left: 30px

      .number__title
        @media(min-width: 768px)
          display: block
          margin-bottom: 30px

    .number__buttons
      @media(min-width: 1024px)
        display: flex
        margin-left: -10px
        margin-right: -10px

      .button
        @media(min-width: 1024px)
          margin-bottom: 0
          margin-left: 10px
          margin-right: 10px
          width: calc(50% - 20px)

  &__item
    display: flex
    flex-direction: column
    margin-bottom: 25px

    @media(min-width: 768px)
      margin-bottom: 50px
      padding-left: 15px
      padding-right: 15px
      width: 50%

    @media(min-width: 1200px)
      width: 33.33333%

.number
  display: flex
  flex-direction: column
  font-size: 14px
  font-weight: 500
  height: 100%
  line-height: 1.57142
  letter-spacing: 0.35px
  margin-left: auto
  margin-right: auto
  max-width: 490px

  @media(min-width: 768px) and (max-width: 1899px)
    font-size: 12px

  &__title
    font-size: 16px
    font-weight: 700
    line-height: 1.5
    margin-bottom: 15px

    @media(min-width: 1900px)
      font-size: 18px
      line-height: 1.22222

  &__link
    color: $text-color
    display: block
    text-decoration: none

    &:hover,
    &:focus
      text-decoration: underline

      img
        transform: scale(1.02)

  &__image
    display: block
    overflow: hidden
    margin-bottom: 15px

    @media(min-width: 1900px)
      margin-bottom: 25px

    img
      display: block
      transform: scale(1)
      transition: transform 0.3s
      width: 100%

  &__image-caption
    display: block

  &__info
    display: flex
    flex-grow: 1
    flex-direction: column
    max-width: 670px

    .number__title
      display: none
      font-weight: 700

      @media(min-width: 768px)
        margin-bottom: 30px

  &__prop
    margin-bottom: 15px

    &--type_1
      display: flex
      justify-content: space-between

      @media(min-width: 1200px)
        flex-direction: column

  &__prop-title
    font-weight: 600

  &__price-block
    align-items: center
    display: flex
    margin-top: auto
    margin-bottom: 15px

    @media(min-width: 1900px)
      margin-bottom: 20px

  &__price
    align-items: center
    display: flex
    font-size: 18px
    font-weight: 700
    line-height: 1.22222

    @media(min-width: 1900px)
      font-size: 20px
      line-height: 1.2

  &__old-price
    color: #777a81
    font-weight: 500
    margin-right: 24px
    padding-left: 10px
    padding-right: 10px
    text-decoration: line-through

    @media(min-width: 1900px)
      line-height: 1.71428

  &__price-icon
    fill: #ff4e00
    height: 22px
    margin-right: 10px
    width: 22px

    @media(min-width: 1900px)
      height: 24px
      width: 24px

  &__buttons
    @media(min-width: 520px) and (max-width: 767px)
      display: flex
      margin-left: -10px
      margin-right: -10px

    @media(min-width: 1024px) and (max-width: 1199px)
      display: flex
      margin-left: -10px
      margin-right: -10px

    @media(min-width: 1500px)
      display: flex
      margin-left: -10px
      margin-right: -10px

    .button
      width: 100%

      &:not(:last-child)
        margin-bottom: 10px

        @media(min-width: 520px) and (max-width: 767px)
          margin-bottom: 0

        @media(min-width: 1024px) and (max-width: 1199px)
          margin-bottom: 0

        @media(min-width: 1500px)
          margin-bottom: 0

      @media(min-width: 520px) and (max-width: 767px)
        margin-bottom: 0
        margin-left: 10px
        margin-right: 10px
        width: calc(50% - 20px)

      @media(min-width: 1024px) and (max-width: 1199px)
        margin-bottom: 0
        margin-left: 10px
        margin-right: 10px
        width: calc(50% - 20px)

      @media(min-width: 1500px)
        margin-bottom: 0
        margin-left: 10px
        margin-right: 10px
        width: calc(50% - 20px)
